.header {
  text-align: center;
}
.header__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(173, 15, 15);

}

.header__nav a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  margin-bottom: 5px;
  padding: 10px;
  font-size: 20px;
}
.header__nav a:hover {
  padding: 10px;
  color: white;
  background-color: rgb(148, 14, 14);
}

@media (min-width: 768px) {
  .header__nav {
      flex-direction: unset;
    justify-content: space-evenly;
  }
  .header__nav a {
    margin-bottom: 0px;
  }
}
