.container-buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}
.btn-editar {
  padding: 10px;
  background-color: var(--primario);
  width: 100px;
  color: white;
  border: none;
  font-weight: bold;
  font-size: 18px;
}
.btn-editar:hover {
  background-color: rgb(219, 180, 5);
  cursor: pointer;
}
.btn-eliminar {
  padding: 10px;
  background-color: brown;
  width: 100px;
  color: white;
  border: none;
  font-weight: bold;
  font-size: 18px;
}
.btn-eliminar:hover {
    background-color: rgb(119, 31, 31);
    cursor: pointer;
  }